@import  './theme.scss';



.card-title{
	color: $text-title-color;
	font-size: 20px;
	font-weight: bold;
}

.card-item-title{
	color: $text-title-color;
	font-size: 18px;
}


.item-header {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.item-text,
.item-tip {
	font-size: 16px;
	margin-bottom: 4px;
}



.item-text,
.item-right-text {
	word-break: break-word;
}





.item-right {
	margin-left: auto;
}

.item-operation-text {
	flex: 0 0 auto;
	padding: 0 5px 0 10px;
	color: $theme-color;
}

.item-operation-icon {
	width: 20px;
	height: 20px;
	// 黑色图标转正文灰
	filter: invert(40%);
}

.item-body {
	display: flex;
	flex-direction: column;
}