// 主题排布
  $theme-color:#ff0054;
  $page-bg-color:#f5f5f5;
  $card-bg-color:#fff;
  $text-title-color:#303030;
  $text-p-color:#606060;
  $text-help-color:#909090;  //重要度不及正文的文字
  $text-tip-color:#c0c0c0;   //提示性文字，如placeholder
  $divider-color:#f0f0f0;

  /* dark mode */
  
  $theme-color-dark:#d92661;
  $page-bg-color-dark:#121212;
  $card-bg-color-dark:#1e1e1e;
  $text-title-color-dark:#e0e0e0;
  $text-p-color-dark:#a0a0a0;
  $text-help-color-dark:#707070;
  $text-tip-color-dark:#404040;
  $divider-color-dark:#2c2c2c;

.wb-container{
	display: flex;
	flex-direction: column;
	padding: 10px 10px 20px 10px;
	margin: 0 auto;
	font-size: 16px;
	color: $text-p-color;
	max-width: 800px;
	width: 100%;
	box-sizing: border-box;
}

.wb-h1{
	font-size: 20px;
	color: $text-title-color;
	font-weight: bold;
}

.wb-h2{
	font-size: 18px;
	color: $text-title-color;
	
}

.wb-p{
	font-size: 16px;
	color: $text-p-color;
	line-height: 1.2em;
	margin-bottom: 6px;
}

.wb-p+.wb-p{
	margin-top: 10px;
}

.wb-help{
	font-size: 14px;
	color: $text-help-color;
}

.wb-tip{
	// font-size: 12px;
	color: $text-tip-color;
}

.wb-card{
	background-color: $card-bg-color;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.wb-card+.wb-card{
	margin-top: 10px;
}

.wb-card-title{
}

.wb-card-item{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.wb-card-item+.wb-card-item{
	border-top: 1px solid $divider-color;
}