
  .contest-db {
    max-width: 768px;
    margin: 0 auto;
    padding: 20rpx 20rpx 30rpx 20rpx;
    box-sizing: border-box;

    @include pad-devices {
      padding: toPadPx(20) toPadPx(20) toPadPx(30) toPadPx(20);
    }
  }

  .contest-list {
    background-color: $card-bg-color;
    border-radius: 10rpx;
    font-size: 28rpx;

    @include pad-devices {
      border-radius: toPadPx(10);
      font-size: toPadPx(28);
    }

    @media (prefers-color-scheme: dark) {
      background-color: $card-bg-color-dark;
    }
  }

  .contest-empty-list,
  .loading {
    margin-top: 20rpx;
    color: $text-help-color;
    display: flex;
    justify-content: center;

    @include pad-devices {
      margin-top: toPadPx(20);
    }

    @media (prefers-color-scheme: dark) {
      color: $text-help-color-dark;
    }
  }

  .contest-list+.contest-list {
    margin-top: 20rpx;

    @include pad-devices {
      margin-top: toPadPx(20);
    }
  }


  .error {
    margin-top: 10rpx;
    color: $text-help-color;
    display: flex;
    justify-content: center;

    @include pad-devices {
      margin-top: toPadPx(10);
    }

    @media (prefers-color-scheme: dark) {
      color: $text-help-color-dark
    }
  }