  .car-card-list {
    padding: 0 20rpx;
    padding-bottom: 30rpx;

    @include pad-devices {
      padding: 0 toPadPx(20);
      padding-bottom: toPadPx(30);
    }

    margin: 0 auto;
    max-width: 768px;

  }

  .cardb {
    // width: 100%;
  }

  .car-card-wrap+.car-card-wrap {
    margin-top: 20rpx;

    @include pad-devices {
      margin-top: toPadPx(20);
    }
  }

  //宽屏设备，双列排布
  @media (min-width:750px) {
    .car-card-list {
      display: grid;
    grid-template-columns: 50% 50%;
    }

    .car-card-wrap {
      // flex: 1 1 340px;
      margin-bottom: 10px;
      // padding: 0 10px;
      // max-width: 365px;
      &:nth-child(even){
        margin-left: 10px;
      }
    }
      .car-card-wrap+.car-card-wrap {
        margin-top: 0;
      }

  }

  .car-empty-list {
    font-size: 36rpx;
    margin-top: 20rpx;
    color: $text-help-color;
    display: flex;
    justify-content: center;

    @include pad-devices {
      margin-top: toPadPx(20);
      font-size: toPadPx(36);
    }

    @media (prefers-color-scheme: dark) {
      color: $text-help-color-dark;
    }
  }

  .loading {
    padding: 24rpx;

    @include pad-devices {
      padding: toPadPx(24);
    }
  }